Repository luanti-org/minetest_game, pull requests merged in 2018-11, with the labels that each got.

#2252 New glass & glassdoor texture
  mods/default/README.txt
  mods/default/textures/default_glass.png
  mods/default/textures/default_glass_detail.png
  mods/doors/README.txt
  mods/doors/textures/doors_door_glass.png
  mods/doors/textures/doors_item_glass.png
  mods/stairs/README.txt
  mods/stairs/textures/stairs_glass_outer_stairside.png
  mods/stairs/textures/stairs_glass_split.png
  mods/stairs/textures/stairs_glass_stairside.png
  mods/xpanes/README.txt
  mods/xpanes/textures/xpanes_edge.png
Labels: >= Two approvals, Textures

#2262 fix srgb profiles for obsidian glass stairs
  mods/stairs/textures/stairs_obsidian_glass_outer_stairside.png
  mods/stairs/textures/stairs_obsidian_glass_stairside.png
Labels: One approval, Trivial

#2254 Add plantlike_rooted coral
  mods/default/README.txt
  mods/default/mapgen.lua
  mods/default/nodes.lua
  mods/default/schematics/corals.mts
  mods/default/textures/default_coral_cyan.png
  mods/default/textures/default_coral_green.png
  mods/default/textures/default_coral_pink.png
  schematic_tables.txt
Labels: Feature, Mapgen, One approval

#2214 Add sfinv.get_page()
  game_api.txt
  mods/sfinv/api.lua
Labels: Feature, One approval
