Repository luanti-org/minetest_game, pull requests merged in 2018-04, with the labels that each got.

#2089 Add food_* groups to default edibles
  mods/default/nodes.lua
  mods/farming/api.lua
  mods/farming/init.lua
  mods/flowers/init.lua
Labels: >= Two approvals, Feature

#2103 Farming: Deprecate bronze, mese and diamond hoes. Tune steel uses
  mods/farming/api.lua
  mods/farming/hoes.lua
Labels: Balance, Maintenance, One approval

#2106 Prevent divide by zero.
  mods/tnt/init.lua
Labels: Bugfix, One approval

#2107 Ore distribution: Deeper iron, diamond and mese block, tune gold
  mods/default/mapgen.lua
Labels: Balance, Mapgen, One approval

#2110 Rebalance bronze and steel tools, swap ore depths
  mods/default/mapgen.lua
  mods/default/tools.lua
Labels: Balance, Bugfix, Mapgen, One approval

#2109 Use stratum ore to add the missing sandstone types
  mods/default/mapgen.lua
Labels: Feature, Mapgen, One approval

#2114 Remove commented lines from biome definitions
  mods/default/mapgen.lua
Labels: Maintenance, Mapgen, One approval, Trivial
