Repository luanti-org/minetest_game, pull requests merged in 2019-11, with the labels that each got.

#2535 Papyrus: Add to the rainforest swamp biome
  mods/default/mapgen.lua
Labels: Feature, Maintenance, Mapgen, One approval

#2536 Escape translated text in formspecs
  mods/beds/init.lua
Labels: Maintenance, One approval, Translation, Trivial

#2517 Added 4th lower row for creative inv, lengthened the search bar
  mods/creative/inventory.lua
  mods/sfinv/api.lua
Labels: >= Two approvals, Feature

#2538 fix popping sound in default_grass_footstep
  mods/default/sounds/default_grass_footstep.1.ogg
  mods/default/sounds/default_grass_footstep.2.ogg
  mods/default/sounds/default_grass_footstep.3.ogg
Labels: >= Two approvals, Sounds

#2539 Fix cause of doors/coral crash
  mods/default/nodes.lua
Labels: Bugfix, One approval, Trivial

#2528 Swedish Translation
  mods/beds/locale/beds.se.tr
  mods/binoculars/locale/binoculars.se.tr
  mods/boats/locale/boats.se.tr
  mods/bones/locale/bones.se.tr
  mods/bucket/locale/bucket.se.tr
  mods/butterflies/locale/butterflies.se.tr
  mods/carts/locale/carts.se.tr
  mods/creative/locale/creative.se.tr
  mods/default/locale/default.se.tr
  mods/doors/locale/doors.se.tr
  mods/dye/locale/dye.se.tr
  mods/farming/locale/farming.se.tr
  mods/fire/locale/fire.se.tr
  mods/fireflies/locale/fireflies.se.tr
  mods/flowers/locale/flowers.se.tr
  mods/game_commands/locale/game_commands.se.tr
  mods/map/locale/map.se.tr
  mods/screwdriver/locale/screwdriver.se.tr
  mods/sethome/locale/sethome.se.tr
  mods/sfinv/locale/sfinv.se.tr
  mods/stairs/locale/stairs.se.tr
  mods/tnt/locale/tnt.se.tr
  mods/vessels/locale/vessels.se.tr
  mods/walls/locale/walls.se.tr
  mods/wool/locale/wool.se.tr
  mods/xpanes/locale/xpanes.se.tr
Labels: One approval, Translation

#2520 Add Malay translation
  mods/beds/locale/beds.ms.tr
  mods/binoculars/locale/binoculars.ms.tr
  mods/boats/locale/boats.ms.tr
  mods/bones/locale/bones.ms.tr
  mods/bucket/locale/bucket.ms.tr
  mods/butterflies/locale/butterflies.ms.tr
  mods/carts/locale/carts.ms.tr
  mods/creative/locale/creative.ms.tr
  mods/default/locale/default.ms.tr
  mods/doors/locale/doors.ms.tr
  mods/dye/locale/dye.ms.tr
  mods/farming/locale/farming.ms.tr
  mods/fire/locale/fire.ms.tr
  mods/fireflies/locale/fireflies.ms.tr
  mods/flowers/locale/flowers.ms.tr
  mods/game_commands/locale/game_commands.ms.tr
  mods/map/locale/map.ms.tr
  mods/screwdriver/locale/screwdriver.ms.tr
  mods/sethome/locale/sethome.ms.tr
  mods/sfinv/locale/sfinv.ms.tr
  mods/stairs/locale/stairs.ms.tr
  mods/tnt/locale/tnt.ms.tr
  mods/vessels/locale/vessels.ms.tr
  mods/walls/locale/walls.ms.tr
  mods/wool/locale/wool.ms.tr
  mods/xpanes/locale/xpanes.ms.tr
Labels: One approval, Translation
