Repository luanti-org/minetest_game, pull requests merged in 2019-05, with the labels that each got.

#2361 Fix trapdoor side texture orientations
  game_api.txt
  mods/doors/README.txt
  mods/doors/init.lua
  mods/doors/textures/doors_trapdoor_side.png
  mods/doors/textures/doors_trapdoor_steel_side.png
Labels: Bugfix, Documentation, Maintenance, Textures, Trivial

#2358 Make cave liquids biome-determined
  mods/default/mapgen.lua
Labels: >= Two approvals, Feature, Maintenance, Mapgen

#2365 Capitalize author in game.conf to match ContentDB
  game.conf
Labels: Bugfix, One approval, Trivial

#2366 wool to make use of global dye.dyes
  mods/wool/depends.txt
  mods/wool/init.lua
Labels: >= Two approvals, Maintenance
