Repository luanti-org/minetest_game, pull requests merged in 2020-07, with the labels that each got.

#2683 Add lava environment sound
  mods/env_sounds/README.txt
  mods/env_sounds/init.lua
  mods/env_sounds/sounds/env_sounds_lava.1.ogg
  mods/env_sounds/sounds/env_sounds_lava.2.ogg
Labels: Feature, One approval, Sounds

#2720 Add correct front texture to cart texture
  mods/carts/cart_entity.lua
  mods/carts/models/carts_cart.b3d
  mods/carts/models/carts_cart.blend
  mods/carts/textures/carts_cart.png
Labels: >= Two approvals, Bugfix, Textures

#2724 sethome: Replace deprecated function calls
  mods/sethome/init.lua
Labels: Maintenance, One approval, Trivial
