Repository luanti-org/minetest_game, pull requests merged in 2023-07, with the labels that each got.

#3040 Bone logging
  mods/bones/init.lua
  mods/default/functions.lua
Labels: >= Two approvals

#2964 Don't check protection of air when placing bones
  mods/bones/init.lua
Labels: One approval, Trivial, Bugfix

#3013 Improve opaque leaves textures
  mods/default/textures/default_acacia_leaves.png
  mods/default/textures/default_acacia_leaves_simple.png
  mods/default/textures/default_aspen_leaves.png
  mods/default/textures/default_blueberry_bush_leaves.png
  mods/default/textures/default_blueberry_overlay.png
  mods/default/textures/default_jungleleaves.png
  mods/default/textures/default_jungleleaves_simple.png
  mods/default/textures/default_leaves.png
  mods/default/textures/default_leaves_simple.png
  mods/default/textures/default_pine_needles.png
Labels: Textures, >= Two approvals
